<header>
  <div class="logo">{{ siteData.logoText }}</div>
  <nav>
    <ul>
      {% for item in siteData.navMenu %}
        <li class="{{ item.active }}"><a href="{{ item.url }}">{{ item.label }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>